doctype html
html
    head
        meta(charset="UTF-8")
        title 몽구스 실습하기
        style.
            table {
                border: 1px solid black;
                border-collapse: collapse;
            }
            table th, table td {
                border: 1px solid black;
            }
    body 
        form#user-form
            fieldset
                legend 사용자 등록
                div
                    input#name(type="text" placeholder="이름")
                div
                    input#age(type="text" placeholder="나이")
                div
                    input#married(type="checkbox")
                    label(for="married") 결혼 여부
                button(type="submit") 등록
        br
        table#user-list
            thead
                th 아이디
                th 이름
                th 나이
                th 결혼 여부
            tbody
                each user in users
                    tr
                        td=user._id
                        td=user.name
                        td=user.age
                        td=user.married ? "기혼" : "미혼"
        br
        form#comment-form
            fieldset 
                legend 댓글 등록
                div
                    input#userid(type="text" placeholder="아이디")
                div
                    input#comment(type="text" placeholder="댓글")
                button(type="submit") 등록
        br
        table#comment-list
            thead
                th 아이디
                th 작성자
                th 댓글
                th 수정
                th 삭제
            tbody
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/mongoose.js")
                